a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  position: relative;
  color: #de3423;
  transition: 0.2s;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #de3423;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
