@import "./variables.css";

html,
body {
  background-color: pink;
  line-height: 1.2;
  font-family: "Lucida Console", Monaco, monospace;
  max-width: 100vw;
}

body {
  padding: 1rem;
  font-size: 1.2rem;
  margin: 0;
}

input,
button {
  font-size: 1.2rem;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

pre {
  white-space: pre-line;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 365px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 325px) {
  h1 {
    font-size: 1.5rem;
  }
}

#container {
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#page-decider {
  display: none;
}

.question-box {
  border-left: 5px solid var(--scala-bright-red);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-sizing: border-box;
  padding: 2rem;
  background-color: white;
}
